In [1]:
import pandas as pd 
import numpy as np

In [2]:
unicorn_main = pd.read_csv("Data Talk/Unicorn/unicorn.csv")
unicorn_main.head()

,Unnamed: 0,Company,Valuation ($B),Date Joined,Country,City,Industry,Select Investors
0,0,Bytedance,$140,4/7/2017,China,Beijing,Artificial intelligence,"Sequoia Capital China, SIG Asia Investments, S..."
1,1,SpaceX,$125,12/1/2012,United States,Hawthorne,Other,"Founders Fund, Draper Fisher Jurvetson, Rothen..."
2,2,SHEIN,$100,7/3/2018,China,Shenzhen,E-commerce & direct-to-consumer,"Tiger Global Management, Sequoia Capital China..."
3,3,Stripe,$95,1/23/2014,United States,San Francisco,Fintech,"Khosla Ventures, LowercaseCapital, capitalG"
4,4,Klarna,$45.6,12/12/2011,Sweden,Stockholm,Fintech,"Institutional Venture Partners, Sequoia Capita..."

In [3]:
unicorn_main.drop(columns=unicorn_main.columns[0], axis=1, inplace=True)
unicorn_main.head()

,Company,Valuation ($B),Date Joined,Country,City,Industry,Select Investors
0,Bytedance,$140,4/7/2017,China,Beijing,Artificial intelligence,"Sequoia Capital China, SIG Asia Investments, S..."
1,SpaceX,$125,12/1/2012,United States,Hawthorne,Other,"Founders Fund, Draper Fisher Jurvetson, Rothen..."
2,SHEIN,$100,7/3/2018,China,Shenzhen,E-commerce & direct-to-consumer,"Tiger Global Management, Sequoia Capital China..."
3,Stripe,$95,1/23/2014,United States,San Francisco,Fintech,"Khosla Ventures, LowercaseCapital, capitalG"
4,Klarna,$45.6,12/12/2011,Sweden,Stockholm,Fintech,"Institutional Venture Partners, Sequoia Capita..."

In [4]:
unicorn_main["Valuation (in $B)"]=unicorn_main["Valuation ($B)"].str[1:]
unicorn_main.drop(columns=unicorn_main.columns[1], axis=1, inplace=True)
unicorn_main.head()

,Company,Date Joined,Country,City,Industry,Select Investors,Valuation (in $B)
0,Bytedance,4/7/2017,China,Beijing,Artificial intelligence,"Sequoia Capital China, SIG Asia Investments, S...",140
1,SpaceX,12/1/2012,United States,Hawthorne,Other,"Founders Fund, Draper Fisher Jurvetson, Rothen...",125
2,SHEIN,7/3/2018,China,Shenzhen,E-commerce & direct-to-consumer,"Tiger Global Management, Sequoia Capital China...",100
3,Stripe,1/23/2014,United States,San Francisco,Fintech,"Khosla Ventures, LowercaseCapital, capitalG",95
4,Klarna,12/12/2011,Sweden,Stockholm,Fintech,"Institutional Venture Partners, Sequoia Capita...",45.6

In [5]:
unicorn_main["Industry"].unique()

array(['Artificial intelligence', 'Other',
       'E-commerce & direct-to-consumer', 'Fintech',
       'Internet software & services',
       'Supply chain, logistics, & delivery',
       'Data management & analytics', 'Edtech', 'Hardware',
       'Consumer & retail', 'Health', 'Auto & transportation',
       'Cybersecurity', 'Mobile & telecommunications', 'Travel',
       'Artificial Intelligence', 'Internet Software Services'],
      dtype=object)

In [6]:
unicorn_main["Industry"] = unicorn_main["Industry"].replace(['Artificial Intelligence','Internet Software Services'],['Artificial intelligence','Internet software & services'])
unicorn_main["Industry"].unique()

array(['Artificial intelligence', 'Other',
       'E-commerce & direct-to-consumer', 'Fintech',
       'Internet software & services',
       'Supply chain, logistics, & delivery',
       'Data management & analytics', 'Edtech', 'Hardware',
       'Consumer & retail', 'Health', 'Auto & transportation',
       'Cybersecurity', 'Mobile & telecommunications', 'Travel'],
      dtype=object)

In [7]:
unicorn_main.dtypes

Company              object
Date Joined          object
Country              object
City                 object
Industry             object
Select Investors     object
Valuation (in $B)    object
dtype: object

In [8]:
unicorn_main['Date Joined']=pd.to_datetime(unicorn_main['Date Joined']).dt.strftime('%d/%m/%Y')
unicorn_main['Date Joined']

0       07/04/2017
1       01/12/2012
2       03/07/2018
3       23/01/2014
4       12/12/2011
           ...
1149    11/05/2022
1150    18/05/2022
1151    08/06/2022
1152    08/06/2022
1153    02/06/2022
Name: Date Joined, Length: 1154, dtype: object

In [9]:
unicorn_main['Valuation (in $B)']=unicorn_main['Valuation (in $B)'].astype(float)
unicorn_main.dtypes

Company               object
Date Joined           object
Country               object
City                  object
Industry              object
Select Investors      object
Valuation (in $B)    float64
dtype: object

In [10]:
unicorn_main.to_csv('unicorn.csv')